@import "config.scss";

Header {
    position: relative;
    display: block;
    width: 120%;
    background: $light-green;
    color: $black;
    height: 50px;

    .metsämittari {
        position: absolute;
        top: 10px; left: 15px;
    }
}

Scenarios {
    position: relative;
    top: 4px; left: 15px;
    display: block;
    width: 20%;
    background: $dark-green;
    height: 500px;

    .scenarios {
        position: absolute;
        top: 10px; left: 15px;
        font-size: 19px;
        line-height: normal;
        color: $white;
    }
}
    
Indicators {
    position: absolute;
    top: 54px; left: 290px;
    display: block;
    width: 20%;
    background: $dark-green;
    height: 500px;

    .indicators {
        position: absolute;
        top: 10px; left: 15px;
        font-size: 19px;
        line-height: normal;
        color: $white;
    }
}
    
