@import "config.scss";

Header {
    position: relative;
    display: block;
    width: 120%;
    background: $light-green;
    color: $black;
    height: 50px;

    .metsämittari {
        position: absolute;
        top: -5px; left: 45%;
    }
}

Scenarios {
    position: relative;
    top: 4px; left: 15px;
    display: block;
    width: 20%;
    background: $dark-green;
    height: 500px;
    p{
        position: relative;
        top: 0px; left: 5px;
        font-size: 20px;
        color: $white; 
    }

    .aluetaso {
        p{
            position: relative;
            top: 10px; left: 0px;
            font-size: 12px;
            color: $white; 
        }
        position: absolute;
        top: 30px; left: 15px;
        font-size: 12px;
        color: $black;
    }
    .alue {
        p{
            position: relative;
            top: 10px; left: 0px;
            font-size: 12px;
            color: $white; 
        }
        position: absolute;
        top: 80px; left: 15px;
        font-size: 12px;
        color: $black;
    }

    .skenaariokokoelma {
        position: absolute;
        top: 150px; left: 15px;
        font-size: 12px;
        color: $white;
    }
    
    .list {
        position: absolute;
        top: 225px; left: 0px;
        font-size: 12px;
        color: $white;
    }
}

    
Indicators {
    position: absolute;
    top: 54px; left: 290px;
    display: block;
    width: 20%;
    background: $dark-green;
    height: 500px;

    p{
        position: relative;
        top: 0px; left: 5px;
        font-size: 20px;
        color: $white; 
    }

    .puuntuotanto {
        p{
            position: relative;
            top: 10px; left: 0px;
            font-size: 12px;
            color: $white; 
        }
        position: absolute;
        top: 30px; left: 15px;
        font-size: 15px;
        color: $white;
    }
}

Chart {
    position: absolute;
    top: 50px; left: 600px;
    width: 50%;
}



    
