@import "config.scss";

Header {
    position: relative;
    display: block;
    width: 50%;
    background: $light-green;
    color: $black;
    height: 100px;

    .metsämittari {
        position: absolute;
        top: 10px; left: 15px;
    }
}

Scenarios {
    position: absolute;
    top: 50px; left: 15px;

    .scenarios {
        position: absolute;
        top: 10px; left: 15px;
        font-size: 19px;
        line-height: normal;
        color: $white;
    }
}
    
Indicators {
    position: absolute;
    top: 50px; left: 250px;

    .indicators {
        position: absolute;
        top: 10px; left: 15px;
        font-size: 19px;
        line-height: normal;
        color: $white;
    }
}
    
